<header class="
    sticky top-0 z-40
    min-h-16

    bg-white dark:bg-[#0b1220]

    border-b
    border-gray-200 dark:border-white/10

    text-gray-900 dark:text-white

    flex items-center justify-between

    px-4 sm:px-6 lg:px-8
    py-3

    transition-colors duration-300
  ">


  <!-- Page Information -->
  <div class="flex items-center gap-3 min-w-0">


    <!-- Icon -->
    @if (icon) {

    <div class="
          hidden sm:flex

          w-10 h-10
          rounded-lg

          bg-amber-100
          dark:bg-amber-400/10

          text-amber-600
          dark:text-amber-400

          items-center
          justify-center
          shrink-0

          transition-colors duration-300
        ">

      <i class="pi text-lg" [class]="icon"></i>

    </div>

    }


    <!-- Title -->
    <div class="min-w-0">

      <h1 class="
          text-lg sm:text-xl
          font-bold

          text-gray-900
          dark:text-white

          truncate

          transition-colors duration-300
        ">
        {{ title }}
      </h1>


      @if (description) {

      <p class="
            hidden sm:block

            text-xs

            text-gray-500
            dark:text-gray-400

            truncate

            transition-colors duration-300
          ">
        {{ description }}
      </p>

      }

    </div>

  </div>


  <!-- Right Side -->
  <div class="flex items-center gap-2 sm:gap-4">


  <div class="flex items-center gap-2 sm:gap-4">

  @for (button of buttons; track $index) {

    <button
      [type]="button.type ?? 'button'"
      (click)="button.action?.()"
      class="
        flex items-center gap-2
        px-3 sm:px-4
        py-2
        rounded-lg
        bg-amber-400
        hover:bg-amber-500
        text-[#0b1220]
        text-sm
        font-semibold
        transition-all duration-200">

      @if (button.icon) {
        <i class="pi" [class]="button.icon"></i>
      }

      <span class="hidden sm:inline">
        {{ button.label }}
      </span>

    </button>

  }

</div>

  </div>

</header>