<header class="
    h-16
    bg-white dark:bg-[#0b1220]
    border-b border-gray-200 dark:border-gray-800
    text-gray-800 dark:text-white
    flex items-center justify-between
    px-6
  ">

  <!-- Left: Sidebar toggle (mobile) + Page Title -->
  <div class="flex items-center gap-3">
    <button type="button" (click)="toggleSidebar.emit()" class="
      md:hidden
      w-9 h-9
      rounded-full

      bg-gradient-to-br from-amber-400 to-amber-600
      text-[#0b1220]

      flex items-center justify-center

      ring-2 ring-amber-200

      hover:opacity-90لوحة التحكم

      transition-all duration-200
    ">
      <i class="pi" [class.pi-bars]="!isSidebarOpen()" [class.pi-times]="isSidebarOpen()"></i>
    </button>

    <h1 class="hidden md:block text-lg font-semibold text-gray-800 dark:text-white">
      {{translation.translate('DASHBOARD')}}
    </h1>
  </div>


  <!-- Center: Search -->
  <div class="flex-1 max-w-md hidden sm:block">
    <div class="relative">
    
    </div>
  </div>


  <!-- Right Side -->
  <div class="flex items-center gap-2 sm:gap-4">

    <!-- Language -->
    <button type="button" (click)="toggleLanguage()" class="w-9 h-9
           flex items-center justify-center
           rounded-lg
           text-gray-500
           hover:text-[#9a7200]
           hover:bg-yellow-50
           focus:outline-none
           transition-all duration-200" [title]="
      translation.lang() === 'ar'
        ? 'English'
        : 'العربية'
    ">
      <i class="pi pi-language text-lg"></i>
    </button>

    <button type="button" (click)="themeservice.toggleTheme()" class="
    p-2.5 rounded-lg
    text-gray-600 dark:text-gray-300
    hover:bg-gray-100 dark:hover:bg-gray-800
    transition
  ">
      <i class="pi pi-moon dark:hidden"></i>
      <i class="pi pi-sun hidden dark:block"></i>
    </button>


    <!-- Mobile search icon -->
    <button type="button" class="sm:hidden p-2 rounded-lg
           text-gray-600
           hover:bg-gray-100
           transition-colors">
      <i class="pi pi-search text-lg"></i>
    </button>




    <!-- Divider -->
    <div class="hidden sm:block w-px h-8 bg-gray-200"></div>


    <!-- User -->
    <div class="flex items-center gap-2.5 cursor-pointer">

      <div class="hidden sm:block text-right">

        <p class="text-sm font-medium text-gray-800">
          {{ user()?.firstName }} {{ user()?.lastName }}
        </p>



      </div>


      <div class="w-9 h-9 rounded-full
             bg-gradient-to-br from-amber-400 to-amber-600
             text-[#0b1220]
             flex items-center justify-center
             font-semibold text-sm
             ring-2 ring-amber-200">
        <i class="pi pi-user"></i>
      </div>

    </div>

  </div>

</header>